---
import Section from "@/components/Section.astro";

import { titles } from "@cv";
import { education } from "@cv";
---

<Section title={titles.education}>
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const startMonth = new Date(startDate).toLocaleDateString("default", {
          month: "short",
        });
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actualidad";
        const endMonth =
          endDate != null
            ? new Date(endDate).toLocaleDateString("default", {
                month: "short",
              })
            : "";
        const years = `${startMonth} ${startYear} - ${endMonth} ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                  <h4>{area}</h4>
                </div>
                <time>{years}</time>
                <year>
                  {startYear}/{endYear}
                </year>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  footer p {
    /* text-align: justify; */
  }

  year {
    font-size: 0.65rem;
    align-self: center;
    text-align: center;
  }

  @media (width > 580px) {
    year {
      display: none;
    }
    time {
      display: block;
    }
    p {
      text-align: justify;
    }
  }

  @media (width <= 580px) {
    year {
      display: block;
    }
    time {
      display: none;
    }
    p {
      text-align: start;
    }
  }
</style>
